#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  border-bottom: 1px solid black;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}
nav > ul > * + * {
  margin-left: 1em;
}
nav > ul > li {
  display: block;
}
nav > ul > li > a {
  padding: 1em;
  color: blue;
  text-decoration: none;
  border: 1px solid lightgray;
}
nav > ul > li > a.active {
  background-color: lightgray;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}